#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 2.5%;
    left: 80%;
  
    width: 100px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 10px;
    border-radius: 10%;
  
    background-color: #38EBEB;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: 30px;
  }
  .menu__btn > span::after {
    content: '';
    top: 60px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 9%;
    left: -100%;
  
    width: 100%;
    height: 91%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #000000ea;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 20px 3%;
  
    color: #38EBEB;
  
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 400;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  
  .menu__line {
    display: block;
  
    
    background-color: rgb(255, 255, 255);

    width: 100%;
    height: 0.1%;
  
    transition-duration: .25s;
  }

  .menu__item:hover {
    background-color: #000000;
  }