*{
    margin: 0%;
    padding: 0%;
}

.element::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
/*Mobile*/
@media screen and (min-device-width: 1px) and (max-device-width: 599px) {
    .box{
        position: relative;
        background-color: black;
        width: 100%;
        height: 2918px;
        z-index: 0;
        display: flex;
        flex-direction: column;
     }
     .top{
         margin: auto;
         display: flex;
         background-color: #000000;
         position: fixed;
         width: 100%;
         height: 200px;
         z-index: 2;
     }
     .logobox{
         position: absolute;
         display: flex;
         justify-content: space-around;
         width: 40%;
         margin: auto;
         right: 20%;
         z-index: 3;
         bottom: -110px;
     }
     .make{
        position: absolute;
        background-color: #38ebeb;
        width: 37%;
        height: 65px;
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 200%;
        margin-top: auto;
        bottom: -50px;
        left: -7%;
     }
     .menu{
         position: relative;
         display: flex;
         font-size: 100%;
         color: #38ebebc7;
         width: 80%;
         margin: auto 14%;
     }
     .menu-txt{
         display: none;
     }
     .menu-txt:hover{
         display: none;
     }
     
     
     
     
     
     .fon{
         justify-content: center;
         position: relative;
         display: flex;
         position: relative;
         width: 100%;
         height: 2300px;
     }
     .fon-img{
         position: absolute;
         width: 100%;
         height: 100%;
         opacity: 0.7;
     }
     .fon-title{
         width: 100%;
         position: absolute;
         color: white;
         opacity: 0.9;
         font-size: 250%;
         text-align: center;
         margin-top: 12%;
         font-weight: bold;
     }
     .fon-text{
         position: absolute;
         color: rgba(255, 255, 255, 0.577);
         font-size: 100%;
         text-align: center;
         margin-top: 16%;
         font-weight: bold;
         width: 100%;
     }
     .fon-button{
         position: absolute;
         background-color: #38ebeb;
         width: 15%;
         height: 55px;
         margin: 0 auto;
         color: white;
         font-weight: bold;
         font-size: 100%;
         margin-top: 20%;
     }
     .connect-fon{
         align-items: center;
         top: 150px;
         display: flex;
         position: relative;
         margin: auto;
         color: white;
         font-size: 125%;
     }
}
/*Tablet*/
@media screen and (min-device-width: 600px) and (max-device-width: 999px){
    .box{
        position: relative;
        background-color: black;
        width: 100%;
        height: 2918px;
        z-index: 0;
        display: flex;
        flex-direction: column;
     }
     .top{
         margin: auto;
         display: flex;
         background-color: #000000;
         position: fixed;
         width: 100%;
         height: 200px;
         z-index: 2;
     }
     .logobox{
         position: absolute;
         display: flex;
         justify-content: space-around;
         width: 40%;
         margin: auto;
         right: 20%;
         bottom: -110px;
         z-index: 3;
     }
     .make{
        position: absolute;
        background-color: #38ebeb;
        width: 37%;
        height: 65px;
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 200%;
        margin-top: auto;
        bottom: -50px;
        left: -7%;
     }
     .menu{
         position: relative;
         display: flex;
         font-size: 100%;
         color: #38ebebc7;
         width: 80%;
         margin: auto 14%;
     }
     .menu-txt{
         display: none;
     }
     .menu-txt:hover{
         display: none;
     }
     
     
     
     
     
     .fon{
         justify-content: center;
         position: relative;
         display: flex;
         position: relative;
         width: 100%;
         height: 1350px;
     }
     .fon-img{
         position: absolute;
         width: 100%;
         height: 100%;
         opacity: 0.7;
     }
     .fon-title{
         width: 100%;
         position: absolute;
         color: white;
         opacity: 0.9;
         font-size: 350%;
         text-align: center;
         margin-top: 30%;
         font-weight: bold;
     }
     .fon-text{
         position: absolute;
         color: rgba(255, 255, 255, 0.577);
         font-size: 200%;
         text-align: center;
         margin-top: 37%;
         font-weight: bold;
         width: 100%;
     }
     .fon-button{
         position: absolute;
         background-color: #38ebeb;
         width: 30%;
         height: 55px;
         margin: 0 auto;
         color: white;
         font-weight: bold;
         font-size: 200%;
         margin-top: 47%;
     }
     .connect-fon{
         width: 100%;
         align-items: center;
         top: 150px;
         display: flex;
         position: relative;
         margin: auto;
         color: white;
         font-size: 125%;
     }
}
/*Desktop*/
@media screen and (min-device-width: 1000px){
    .box{
       position: relative;
       background-color: black;
       width: 100%;
       height: 2918px;
       z-index: 0;
       display: flex;
       flex-direction: column;
    }
    .top{
        background-color: #000000ea;
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 2;
    }
    .logobox{
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: auto;
    }
    .make{
     display: none;
    }
    .menu{
        position: relative;
        display: flex;
        font-size: 100%;
        color: #38ebebc7;
        width: 80%;
        margin: auto 14%;
    }
    .menu-txt{
        position: relative;
        margin: auto;
        color: #38ebeb;
        text-decoration: none;
    }
    .menu-txt:hover{
        position: relative;
        margin: auto;
        color: #38ebeb;
    }
    
    
    
    
    
    .fon{
        justify-content: center;
        position: relative;
        display: flex;
        position: relative;
        width: 100%;
        height: 730px;
    }
    .fon-img{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }
    .fon-title{
        width: 100%;
        position: absolute;
        color: white;
        opacity: 0.9;
        font-size: 250%;
        text-align: center;
        margin-top: 12%;
        font-weight: bold;
    }
    .fon-text{
        position: absolute;
        color: rgba(255, 255, 255, 0.577);
        font-size: 100%;
        text-align: center;
        margin-top: 16%;
        font-weight: bold;
        width: 100%;
    }
    .fon-button{
        position: absolute;
        background-color: #38ebeb;
        width: 15%;
        height: 55px;
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: 100%;
        margin-top: 20%;
    }
    .connect-fon{
        align-items: center;
        top: 150px;
        display: flex;
        position: relative;
        margin: auto;
        color: white;
        font-size: 125%;
    }
    }
