*{
    margin: 0%;
    padding: 0%;
}

.box-mobile{
    position: relative;
   background-color: black;
   width: 100%;
   height: 60000px;
   z-index: 0;
}

.top-mobile{
    background-color: #000000ea;
    position: fixed;
    width: 100%;
    height: 200px;
    z-index: 2;
}

.logobox-mobile{
    position: absolute;
    width: 25%;
    height: 85%;
    left: 43%;
    top: 10%;
}

.make-mobile{
  position: absolute;
  width: 20%;
  height: 40%;
  left: 10%;
  background-color: #38EBEB;
  font-size: 150%;
  top: 30%;
  color: white;
  font-weight: bold;
}





.fon-mobile{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 2100px;
    position: absolute;
    z-index: 0.5;
    opacity: 0.7;
}

.title-mobile{
   position: absolute;
   font-size: 550%;
   color: white;
   font-weight: bold;
   padding-top: 25%;
   padding-left: 22%;
   text-align: center;
   z-index: 1;
   opacity: 0.9;
   font-family: 'Inter', sans-serif;
}
.title-text-mobile{
    position: absolute;
    right: 7%;
    font-size: 300%;
    color: rgb(160, 158, 158);
    font-weight: bold;
    padding-top: 40%;
    padding-left: 10%;
    text-align: center;
    z-index: 1;
    opacity: 0.9;
    font-family: 'Inter', sans-serif;
    
 }
 .make-fon-mobile{
     position: absolute;
     background-color: #38EBEB;
     width: 40%;
     height: 150px;
     top: 550px;
     right: 29%;
     color: white;
     text-align: center;
     font-size: 300%;
     font-weight: bold;
     z-index: 1;
 }
 .title-connection-mobile{
    align-items: center;
    display: flex;
    position: relative;

     top: 700px;
     padding-left: 20%;
     padding-right: 23%;
     padding-top: 200px;
     font-size: 300%;
     color: rgb(160, 158, 158);
     z-index: 1;
 }


