* {
    margin: 0;
    padding: 0;
    background-color: ;
    }
    ::-webkit-scrollbar {
        width: 0.1px;
      }
    .box{
        background-color: black;
        width: 100%;
        height: 2000px;
        position: relative;
        z-index: 0;
    }
    .section_top{
        background-color: #321a4000;
        width: 100%;
        height: 15%;
        position: fixed;
        z-index: 2;
    }
    .section_topscrol{
        background-color: #321a409e;
        width: 100%;
        height: 15%;
        position: fixed;
        z-index: 2;
    }
    .section_content{
        background-color: #321a409e;
        width: 100%;
        height: 100%;
    }


    .section_content_box{
        position: relative;
        top: 5%;
        width: 90%;
        left: 5%;
        right: 5%;
        height: 30%;
    }
    .section_content_map{
        position: absolute;
        width: 90%;
        height: 40%;
        top: 40%;
        left: 5%;
        right: 5%;
        z-index: 1;
    }
    .section_content_box_button{
        position: absolute;
        width: 100%;
        height: 10%;
        top: 90%;
    }