*{
    margin: 0;
    padding: 0;
}

.section_top_right{
    position: absolute;
    width: 35%;
    height: 50%;
    top: 25%;
    bottom: 25%;
    left: 5%;
    transform: translate(40%, 40%) 
}
.section_top_center{
    position: absolute;
    width: 10%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    right: 45%;
}
.section_top_left{
    position: absolute;
    width: 35%;
    height: 50%;
    top: 25%;
    bottom: 25%;
    right: 5%;
    transform: translate(-10%, 40%)
}
.section_top_center_img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.section_top_text{
    color: aliceblue;
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    margin-left: 10%;
}
.section_top_text:hover{
    color: black;
}
