* {
    margin: 0;
    padding: 0;
    }

    .section_content_map_title{
        position: absolute;
        width: 100%;
        height: 10%;
        text-align: center;
        font-size: 250%;
        color: white;
    }
    .section_content_map_box{
        background-color: white;
        width: 100%;
        height: 80%;
        position: absolute;
        top: 10%;
    }