* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .logo {
        position: relative;
        width: 100px;
        height: 100%;
      }
      .logo_img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        transform: scale (1.5, 1.5);
      }