* {
    margin: 0;
    padding: 0;
    }
    .section_content_box{
        position:absolute;
        width: 100%;
        height: 800px;
}
.section_content_box_img{
    position:absolute;
    width: 100%;
    height: 800px;
}