* {
    margin: 0;
    padding: 0;
    }
    .section_content_box{
        background-color: rgb(40, 38, 38);
        position:absolute;
        width: 100%;
        height: 800px;
}
.section_content_box_img{
    position:absolute;
    width: 100%;
    height: 800px;
    opacity: 0.5;
}
.section_content_box_text{
    position: absolute;
    width: 40%;
    height: 50px;
    right: 30%;
    top: 35%;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 300%;
}
.section_content_box_text_text{
    text-decoration: none;
    color: aliceblue;
}
.section_content_box_item{
    background-color: #321a40;
    position: absolute;
    width: 18%;
    height: 50px;
    right: 42%;
    top: 45%;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 150%;
}
.section_content_box_item_text{
    text-decoration: none;
    color: aliceblue;
    
}
.section_content_box_address_text{
    width: 25%;
    height: 50px;
    position: absolute;
    top: 80%;
    right: 65%;
    font-size: 150%;
    color: aliceblue;
}
.section_content_box_address_text{
    width: 25%;
    height: 50px;
    position: absolute;
    top: 80%;
    right: 65%;
    font-size: 150%;
}
.section_content_box_address_img{
    width: 5%;
    height: 50px;
    position: absolute;
    top: 80%;
    right: 90.5%;
}
.section_content_box_timetable_text{
    width: 25%;
    height: 50px;
    position: absolute;
    top: 83%;
    right: 35%;
    font-size: 150%;
    color: aliceblue;
}
.section_content_box_timetable_img{
    width: 5%;
    height: 50px;
    position: absolute;
    top: 80%;
    right: 60.5%;
}
.section_content_box_phone_text{
    width: 25%;
    height: 50px;
    position: absolute;
    top: 83%;
    right: 10%;
    font-size: 150%;
    color: aliceblue;
}
.section_content_box_phone_img{
    width: 5%;
    height: 50px;
    position: absolute;
    top: 80%;
    right: 35.5%;
}