* {
  margin: 0;
  padding: 0;
  }
.section_top_box_logo{
  position: absolute;
  width: 10%;
  height: 100px;
  right: 45%;
}
.section_top_box_logo_img{
  position: absolute;
  width: 100%;
  height: 100px;
  right: 45%;
  left: 3px;
}
.section_top_box_left{
  color: #ffffff;
  text-align: center;
  position: absolute;
  width: 37%;
  height: 20px;
  left: 3%;
  top: 40%;
  text-decoration: none;
}
.section_top_box_right{
  text-align: center;
  position: absolute;
  width: 37%;
  height: 20px;
  right: 3%;
  top: 40%;
}
.section_top_box_text{
  color: #ffffff;
  text-decoration: none;
  padding-left: 15px;
}