* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
      .logo_img {
        height: 90%;
        background: #221432;
      }
      .whatsapp_img{
        background: #221432;
        padding-bottom: 2%;
        padding-left: 1%;
      }
      .vk_img{
        background: #221432;
        padding-bottom: 2%;
        padding-left: 1%;
      }
      .telegram_img{
        background: #221432;
        padding-bottom: 2%;
        padding-left: 1%;
      }