* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
      .logo_img {
        height: 90%;
        background: #221432;
      }
      .logo_img_button{
        background: #221432;
      }
      .social_img{
        background: #221432;
        padding-bottom: 2%;
        padding-left: 1%;
      }
      .text_button{
        color:white;
        background: #221432;
        text-align: center;
        text-decoration: none;
        left: 10%;
        top: 10%;
      }