* {
    margin: 0;
    padding: 0;
    background-color: #321a40;
    }
.section_top {
    background-color: #321a4000;
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
  .section_topscrol {
    background-color: #321a40;
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
  .section_content {
    background-color: #321a40;
    position:relative;
    width: 100%;
    height: 1000px;
    z-index: 0;
  }