* {
    margin: 0;
    padding: 0;
    }
::-webkit-scrollbar {
  width: 0.1px;
}
.scrollbutton{
  background-image: url("./images/scroll.png");
  background-color: green;
  border-radius: 90%;
  width: 5%;
  height: 10%;
  position: fixed;
  top: 90%;
  right: 3%;
  z-index: 1;
}
.section_top {
    background-color: #321a4000;
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
  .section_topscrol {
    background-color: #321a40;
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
  .section_content {
    background-color: #321a40;
    position:relative;
    width: 100%;
    height: 800px;
    z-index: 0;
  }
  .section_content_box_ocafe{
    background-color: #321a40;
    width: 100%;
    position: relative;
    height: 1100px;
    z-index: 0;
}