* {
    margin: 0;
    padding: 0;
    }
::-webkit-scrollbar {
  width: 0.1px;
}
.box{
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.scrollbutton{
  display: none;
  border-radius: 90%;
  width: 5%;
  height: 10%;
  position: fixed;
  top: 80%;
  right: 3%;
  z-index: 1;
}

.scrollbuttonfill{
  background-color: white;
  border-radius: 90%;
  width: 5%;
  height: 10%;
  position: fixed;
  top: 80%;
  right: 3%;
  z-index: 1;
}
.section_top {
    background-color: #321a4000;
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
  .section_topscrol {
    background-color: #321a409e;
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
  .section_content {
    background-color: #321a40;
    position:relative;
    width: 100%;
    height: 800px;
    z-index: 0;
  }
  .section_content_box_ocafe{
    background-color: #321a409e;
    width: 100%;
    position: relative;
    height: 1100px;
    z-index: 0;
}
.section_content_box_map{
  background-color: #321a409e;
  width: 100%;
  position: relative;
  height: 700px;
  z-index: 0;
}
.section_content_button{
  background-color: #321a409e;
  width: 100%;
  height: 250px;
  position:relative;
  z-index: 0;
}