* {
    margin: 0;
    padding: 0;
    }

.section_content_button_linetop{
background-color: rgba(141, 144, 147, 0.799);
position: absolute;
width: 80%;
height: 1%;
border-radius: 35%;
right: 10%;
left: 10%;
}
.section_content_button_linebutton{
    background-color: rgba(141, 144, 147, 0.799);
    position: absolute;
    width: 80%;
    height: 1%;
    border-radius: 35%;
    top:70%;
    right: 10%;
    left: 10%;
    }
.section_content_button_box{
    position: absolute;
    width: 80%;
    top: 10%;
    height: 50%;
    right: 10%;
    left: 10%;
    }
.section_content_button_box_block0{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 5%;
}
.section_content_button_box_block1{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 28.5%;
}
.section_content_button_box_block2{
    position: absolute;
    width: 20%;
    height: 100%;
    right: 28.5%;
}
.section_content_button_box_block3{
    position: absolute;
    width: 20%;
    height: 100%;
    right: 5%;
}
.section_content_button_linebutton_text{
    position: absolute;
    width: 100%;
    height: 50%;
    font-size: 150%;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}
.section_content_button_linebutton_text_info{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    font-size: 100%;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}
.section_content_button_box_button{
    position: absolute;
    width: 80%;
    top: 75%;
    height: 20%;
    right: 10%;
    left: 10%;
    }
    .section_content_button_box_button_copyright{
        position: absolute;
        width: 20%;
        left: 10%;
        height: 100%; 
        font-size: 150%;
        color: rgb(73, 73, 73);
        font-weight: bold;
        text-align: center;
        }
    .section_content_button_box_button_mail{
        position: absolute;
        width: 20%;
        right: 10%;
        height: 100%;
        font-size: 150%;
        color: rgb(73, 73, 73);
        font-weight: bold;
        text-align: center;
        }