* {
    margin: 0;
    padding: 0;
    }
    
    .section_content_box_ocafe_box{
        background-color: white;
        width: 80%;
        height: 80%;
        position: absolute;
        top: 10%;
        bottom: 10%;
        right: 10%;
        left: 10%;
}
.section_content_box_ocafe_box_stumps{
   width: 40%;
   height: 10%;
   position: absolute;
   top: 10%;
   bottom: 70%;
   right: 30%;
   color: #321a40;
   font-size: 300%;
   text-align: center;
}
.section_content_box_ocafe_box_text{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 20%;
    bottom: 30%;
    right: 10%;
    color: #321a40;
    font-size: 200%;
 }
 .section_content_box_ocafe_menu_text{
     background-color: black;
     position: absolute;
     width: 15%;
     height: 5%;
     top: 85%;
     right: 75%;
 }
 .section_content_box_ocafe_galery_text{
    background-color: #321a40;
    position: absolute;
    width: 15%;
    height: 5%;
    top: 85%;
    right: 42.5%;
}
.section_content_box_ocafe_bar_text{
    background-color: #321a40;
    position: absolute;
    width: 15%;
    height: 5%;
    top: 85%;
    right: 10%;
}
.section_content_box_ocafe_text_button{
    background-color: #321a40;
    position: absolute;
    width: 100%;
    height: 100%;
    color: aliceblue;
    font-size: 200%;
    opacity: 90%;
}
.section_content_box_ocafe_menu_img{
    background-color: #321a40;
    position: absolute;
    width: 25%;
    height: 25%;
    top: 55%;
    right: 70%;
}
.section_content_box_ocafe_galery_img{
    background-color: #321a40;
    position: absolute;
    width: 25%;
    height: 25%;
    top: 55%;
    right: 37.5%;
}
.section_content_box_ocafe_bar_img{
    background-color: #321a40;
    position: absolute;
    width: 25%;
    height: 25%;
    top: 55%;
    right: 5%;
}
.section_content_box_ocafe_img_button{
    background-color: #321a40;
    position: absolute;
    width: 100%;
    height: 100%;
    color: aliceblue;
    font-size: 200%;
    opacity: 90%;
}